<!-- templates/members/list.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
<h1>회원 목록</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>이름</th><th>이메일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.id}">1</td>
        <td th:text="${member.name}">예시이름</td>
        <td th:text="${member.email}">예시이메일@example.com</td>
    </tr>
    </tbody>
</table>

<br/>
<a th:href="@{/members/new}">+ 회원 등록</a>
</body>
</html>